body {
    background-color: lightblue;
}

form {
    width: 30%;
    margin: 50px auto;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 5px 20px rgb(68, 79, 102);
    border: 15px solid rgb(198, 215, 221);
}

label, input, textarea {
    display: block;
    width: 99%;
}

input, textarea {
    margin-bottom: 20px;
    margin-top: 10px;
}

input {
    height: 25px;
}

button {
    padding: 8px; 
    background-color: rgb(198, 215, 221);
    border-radius: 20px;
}